.about-page {
  display: flex;
  flex-direction: column;
  height: 78vh; /* Keep the height at 90vh */
  justify-content: center; /* Center content vertically */
  box-sizing: border-box;
  padding-bottom: 2rem; /* Ensure space for the footer */
}

.about-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; /* Padding to ensure spacing on all sides */
  font-family: 'Archivo', sans-serif;
  max-width: 1200px;
  margin: 0 auto; /* Remove negative margin for consistent centering */
  box-sizing: border-box;
}

.portrait {
  max-width: 35%; /* Adjusted to make the image slightly smaller */
  height: auto;
  border-radius: 10px;
}

.about-content {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-content h1 {
  font-size: 22px; /* Slightly reduced font size */
  color: #333;
  margin-bottom: 12px; /* Reduced margin */
  align-self: center; /* Center the title */
}

.about-content p {
  font-size: 14px; /* Slightly reduced font size */
  color: #555;
  margin-bottom: 12px; /* Reduced margin */
  line-height: 1.4;
  max-width: 750px; /* Match the max width of the contact form */
  text-align: center; /* Center text for better aesthetics */
}

.contact-form-container {
  margin-top: 12px; /* Reduced margin */
  width: 100%;
}

.contact-form-container input,
.contact-form-container textarea {
  padding: 8px; /* Reduced padding */
  font-size: 14px;
}

.contact-form-container .submit-button {
  padding: 8px 16px; /* Reduced padding */
  font-size: 14px;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .portrait {
    max-width: 80%;
    margin-bottom: 20px;
  }

  .about-content {
    max-width: 100%;
  }

  .about-content p {
    text-align: center;
  }
}