.about-container {
  padding: 40px;
  text-align: center;
  font-family: 'Archivo', sans-serif;
}

.about-container h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 18px;
  color: #555;
}

.about-container a {
  color: #333;
  text-decoration: none;
}

.about-container a:hover {
  text-decoration: underline;
}

.about-container img {
  width: 300px;
  height: auto;
  border-radius: 0; /* No rounded corners */
  margin-bottom: 20px; /* Add some space below the image */
}

.about-container .bio-text {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}