.upload-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.video-list {
    margin-bottom: 30px;
}

.video-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.video-item h2 {
    margin-right: 15px;
}

.stills-list {
    display: flex;
    flex-wrap: wrap;
}

.still-item {
    margin: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form label {
    margin-bottom: 15px;
}

form button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: darkgray;
}

.success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
}

h1 {
    text-align: center;
  }